<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .imageclass{
            width: 100px;
            height: 100px;
            margin: 10px;
        }
    </style>


    <script>
                // *********************display images from input in page
        function afficherImages(event) {
            var input = event.target;
            var imagesDiv = document.getElementById('images');

            imagesDiv.innerHTML = '';

            for (var i = 0; i < input.files.length; i++) {
                var file = input.files[i];
                var reader = new FileReader();

                reader.onload = function(e) {
                    var img = document.createElement('img');
                    img.classList.add('imageclass')
                    img.src = e.target.result;
                    img.alt = file.name;
                    imagesDiv.appendChild(img);
                   
                }

                reader.readAsDataURL(file);
            }
        }

            // **************************add new program
            var count=1;
        function addNewInputs() {
            count ++
            const inputContainer = document.getElementById('inputContainer');

            // add diploma
            const newInput5Label = document.createElement('label');
            newInput5Label.textContent = 'Diploma:';
            newInput5Label.className = "form-label col";
            const newInput5 = document.createElement('input');
            newInput5.type = 'text';
            newInput5.name = 'diploma' + count;
            newInput5.className = "form-control col";

            const newInput5Div = document.createElement('div');
            const newInput6Div=document.createElement('div');
            newInput5Div.appendChild(newInput5Label);
            newInput5Div.appendChild(newInput6Div);
            newInput6Div.appendChild(newInput5);
            newInput5Div.className = "row my-4"
            newInput6Div.className ="col-9"

            // add program tittle
            const newInput1Label = document.createElement('label');
            newInput1Label.textContent = 'Program tittle:';
            newInput1Label.className = "form-label col";
            const newInput1 = document.createElement('input');
            newInput1.type = 'text';
            newInput1.name = 'program_tittle' + count;
            newInput1.className = "form-control col";

            const newInput1Div = document.createElement('div');
            const newInput3Div=document.createElement('div');
            newInput1Div.appendChild(newInput1Label);
            newInput1Div.appendChild(newInput3Div);
            newInput3Div.appendChild(newInput1);
            newInput1Div.className = "row my-4"
            newInput3Div.className ="col-9"

            // add description
            const newInput2Label = document.createElement('label');
            newInput2Label.textContent = 'Description:';
            newInput2Label.className = 'form-label col';
            const newInput2 = document.createElement('textarea');
            newInput2.type = 'text';
            newInput2.name = 'description'+count;
            newInput2.className = 'form-control col';

            const newInput2Div = document.createElement('div');
            const newInput4Div = document.createElement('div');
            newInput2Div.appendChild(newInput2Label);
            newInput2Div.appendChild(newInput4Div);
            newInput4Div.appendChild(newInput2);
            newInput2Div.className = "row my-4"
            newInput4Div.className ="col-9"

            // add new input in countainer
            inputContainer.appendChild(newInput5Div);
            inputContainer.appendChild(newInput1Div);
            inputContainer.appendChild(newInput2Div);
            
        }
     </script>
</head>
<body>
    <div> Navbar
        <hr>
    </div>
    <div class="px-5 py-2">
        <div class="d-flex justify-content-evenly align-items-center">
            <!-- ***********************************add institution*********************************** -->
            <div class="col-6">
                <h3>Add New Institution</h3>
                <a href="/profile">Profile</a>
                <form action="/institution/edit" method="post" enctype="multipart/form-data">
                    <div class="row my-4">
                        <label for="type" class="form-label col">type:</label>
                        <div class="col-9">
                            <select name="type" class="form-select">
                                <option value="{{institution.type}}" selected>Public University</option>
                                <option value="Public University" >Public University</option>
                                <option value="Private University">Private University</option>
                                <option value="Training Center">Training Center</option>
                                <option value="Intership">Intership</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-4">
                        <label for="name" class="form-label col">Name:</label>
                        <div class="col-9">
                            <input name="name" class="form-control" value="{{institution.name}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_name"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="government" class="form-label col">government:</label>
                        <div class="col-9">
                            <input name="government" class="form-control col" value="{{adresses.government}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_government"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="city" class="form-label col">city:</label>
                        <div class="col-9">
                            <input name="city" class="form-control col" value="{{adresses.city}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_city"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="zipcode" class="form-label col">ZipCode:</label>
                        <div class="col-9">
                            <input name="zipcode" type="number" class="form-control col" value="{{adresses.zipcode}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_zipcode"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="street" class="form-label col">Street:</label>
                        <div class="col-9">
                            <input name="street" class="form-control col" value="{{adresses.street}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_street"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="email" class="form-label col">Email:</label>
                        <div class="col-9">
                            <input name="email" class="form-control col" value="{{institution.email}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_email"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row my-4">
                        <label for="phone" class="form-label col">Phone:</label>
                        <div class="col-9">
                            <input name="phone" type="number" class="form-control col" value="{{institution.phone}}">
                        </div>
                        {% for message in get_flashed_messages(category_filter=["error_phone"]) %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row my-4">
                        <label for="fax" class="form-label col">Fax:</label>
                        <div class="col-9">
                            <input name="fax" type="number" class="form-control col" value="{{institution.fax}}">
                        </div>
                    </div>
                    <!-- !========================================================block program -->
                    
                    {% for diploma in diplomas %}
                        <div id="inputContainer">
                                
                            <div class="row my-4">
                                <label for="diploma" class="form-label col">Diploma:</label>
                                <div class="col-9">
                                    <input name="diploma1" class="form-control col" value="{{diploma.diploma1}}">
                                </div>
                                {% for message in get_flashed_messages(category_filter=["error_diploma"]) %}
                                <div class="alert alert-danger">
                                    {{message}}
                                </div>
                                {% endfor %}
                            </div>

                            <div class="row my-4">
                                <label for="program_tittle" class="form-label col">Program Tittle:</label>
                                <div class="col-9">
                                    <input name="program_tittle1" class="form-control col" value="{{diploma.program_tittle1}}">
                                </div>
                                {% for message in get_flashed_messages(category_filter=["error_program_tittle"]) %}
                                <div class="alert alert-danger">
                                    {{message}}
                                </div>
                                {% endfor %}
                            </div>

                            <div class="row my-4">
                                <label for="description"  class="form-label col">Description:</label>
                                <div class="col-9">
                                    <textarea name="description1" cols="30" rows="3" class="form-control col" value="{{diploma.description1}}"></textarea>
                                </div>
                                {% for message in get_flashed_messages(category_filter=["error_description"]) %}
                                <div class="alert alert-danger">
                                    {{message}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- !======================================================== -->
                    <div class="d-flex justify-content-between">
                        
                            <input type="file"  name="files[]" id="fileInput" multiple onchange="afficherImages(event)">
                            <button type="button" onclick="addNewInputs()" >+Add Program</button>                            
                    </div>
                    <button type="submit" class="btn btn-success mt-3" style="width: 200px;">Add</button>
                </form>
                
                
            </div>
            <!-- ***********************************Creator profile*********************************** -->
            <div class="col-4">
                <h3>profile</h3>
                <div class="border border-2" style="height: 300px; display: flex; flex-direction: column;">
                    <img src="{{user.image}}" alt="" style="width: 50px; height: 50px;">
                    
                    {{user.email}}
                </div>
                <div>
                    <!-- ? *********************  add the images  **********************-->
                    {%for image in images %}
                    <img src="{{image[name_image]}}" alt="">
                    <a href="/delete/{{image_id}}"></a>
                    {%endfor%}
                    <div id="images" style="height: 100px; width: 360px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>